.contact-section{
    background-color: #fff;
}

.section-content{
    padding:2rem 
}

.section-content ul{
    list-style-type: none;
    padding-left: 0px;
    line-height: 3rem;
}

.right-col{
    padding-left: 3rem;
}